---
import Layout from "@layouts/Layout.astro";
import NewsHeader from "@components/molecules/NewsHeader.astro";

export interface Props {
  frontmatter: {
    title: string;
    type: string;
    date: string;
    image: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} | News`}
  description={frontmatter.description}
>
  <article class="news-article">
    <header class="article-header">
      <div class="news-image">
        <img
          src={frontmatter.image ?? "/news/default-news-image.png"}
          alt="news image"
          width="100%"
        />
      </div>
      <NewsHeader type={frontmatter.type} date={frontmatter.date} />
      <h1>{frontmatter.title}</h1>
    </header>
    <div class="article-content">
      <slot />
    </div>
  </article>
</Layout>

<style>
  .news-article {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article-header {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-bottom: 0.5px solid var(--color-border);
  }

  .article-header h1 {
    margin: 0 0 1rem 0;
    font-size: 32px;
  }

  .news-image {
    width: 600px;
  }

  .article-content {
    width: 90%;
    max-width: 800px;
    line-height: 1.8;
    margin-bottom: 16px;
  }

  .article-content a:link {
    color: var(--color-link);
    text-decoration: underline;
  }

  .article-content a:visited {
    color: var(--color-visited-link);
  }

  .article-content a:hover {
    color: var(--color-selectedlink);
  }

  .article-content a:active {
    color: var(--color-active-link);
  }

  @media (max-width: 700px) {
    .article-header {
      gap: 0px;
    }

    .article-header h1 {
      font-size: 24px;
      margin-bottom: 0;
    }

    .news-image {
      width: 375px;
    }
  }
</style>
